/* Global Variable */
:root {
    --primary: #164E70;
    --secondary: #0A9396;
    --backgournd: #FFFFFF;
    --text: #FFFFFF;
    --accent: #94D2BD;
}

/* Body */

body {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0 auto;
}

/* Head */

header {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    color: var(--text);
}

header img {
    width: 150px;
    height: auto;
}

.title {
    text-align: left;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0;
}

.title b,
.title p {
    margin: 0;
    line-height: 1.1;
}

.title b {
    font-size: 30px;
}

header button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    margin: 0.5rem;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-line {
    width: 100%;
    height: 3px;
    background: #333;
    transition: all 0.3s;
}

.hamburger.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

header nav a {
    color: var(--text);
    padding: 0.5rem;
    text-decoration: none;
}

header nav a:hover {
    background-color: #000000;
}

header nav.active {
    display: flex;
    justify-content: space-evenly;
}

/* Main */

main {
    max-width: 1200px;
    margin: auto;
    padding: 0.5rem;
    color: #000000;
}

main h1 {
    text-align: center;
}

main .hero {
    position: relative;
}

main .hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

main .hero button {
    background-color: var(--primary);
    color: var(--text);
    position: absolute;
    bottom: 10%;
    right: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

main .home {
    display: grid;
}

.home h1 {
    grid-column: 1 / -1;
}

.home .home-card {
    margin: 0.5rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    align-items: start;
}

.home-card h2 {
    background-color: var(--primary);
    margin: 0;
    padding: 0.5rem;
    grid-column: 1 / -1;
    min-height: 20px;
    color: var(--text);
}

.home-card p {
    padding: 0.5rem;
}

.home-card img {
    height: auto;
    width: 150px;
    padding: 0.5rem;
}

.home-card span {
    grid-column: 1 / -1;
    padding: 0.5rem;
}

main .business {
    display: grid;
}

.business .grid-list {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
}

.grid-list button {
    background-color: transparent;
    border: 1px solid black;
}

.grid-list button img {
    width: 25px;
    height: auto;
}

.business .business-card {
    margin: 0.5rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    align-items: start;
    border-radius: 10px;
}

.business-card h2,
.business-card h3 {
    text-align: center;
    margin: 0;
    grid-column: 1 / -1;
    min-height: 20px;
    line-height: 1.1;
}

.business-card h2 {
    padding-top: 0.5rem;
}

.business-card h3 {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.business-card img {
    justify-self: center;
    align-self: center;
    padding: 0.5rem;
    height: auto;
    width: 80px;
}

.business-card nav {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.business-card nav span {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
    margin: 0.5rem;
}

form fieldset {
    display: grid;
}

form label {
    padding: 0.5rem;
}

form input {
    padding: 0.5rem;
}

form button {
    margin: 0.5rem;
}

.membership-levels-card {
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0.5rem;
}

dialog {
    top: 150%;
    width: 400px;
    border-radius: 0 0 0 8px;
}

.thank-you {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    background-color: var(--primary);
    display: grid;
    padding: 0.5rem 2rem 0.5rem 2rem;
    place-content: center;
}

footer section {
    justify-self: center;
    align-self: center;
}

footer section a {
    text-decoration: none;
}

footer section a img {
    width: 50px;
    height: auto;
    border-radius: 100%;
}

/* Media Query */

@media screen and (max-width: 768px) {
    header nav {
        display: none;
        flex-direction: row;
        box-sizing: border-box;
    }

    main .home {
        grid-template-columns: 1fr;
    }

    main .business {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 769px) {
    header .hamburger {
        display: none;
    }

    header nav {
        left: 10px
    }

    main .home {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .business {
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    dialog {
        top: 30%;
        right: 10px;
        left: auto;
        width: 400px;
        border-radius: 0 0 0 8px;
    }
}